@import 'assets/styles/bootstrap-grid.css';
@import "assets/fonts/Poppins//style.css";
@import "assets/styles/variable.scss";


body{
    margin: 0;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}