.socialIconCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color: #f0ce15;
        border-color: #f0ce15;
    }

    .socialIcon {
        color: white;
        font-size: 15px;
    }
}