.Reset {
  width: 500px;
  height: 400px;
  background-color: white;
  .head {
    padding: 25px 0;
    background-color: #f0ce15;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    h3 {
      margin: 0 0 5px;
      font-size: 26px;
    }
    span {
      font-size: 14px;
    }
  }
  .form {
    padding: 0 20%;
    padding-top: 55px;
    padding-bottom: 25px;
    .text {
      margin-top: 18px;
      font-size: 12px;
      color: #777;
      display: flex;
      justify-content: center;
    }
  }
  .textReset {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background-color: #f6f6f6;
  }
  .tReset {
    margin-right: 20px;
    color: #1f1f1f;
    font-weight: 600;
  }
}
